<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題TOPPAGE</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select date, length, weight, give_for from crops where give_for != '自家消費';") %>
    <% date = [] %>

    <% result.each do |record| %>
      <% date << "ゴーヤの大きさ：#{record["weight"]} ゴーヤの長さ：#{record["length"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
      下記のボタンを押すと、譲渡先が自家消費ではないゴーヤの情報ページに飛びます<br><br>
      <input type="text" name="goya" value="<%= date.join(' ') %>">
      <input type="submit" name="送信">
      </form>

    <% result = connection.exec("select date, length, weight, quality from crops where quality = false;") %>
    <% date = [] %>

    <% result.each do |record| %>
      <% date << "ゴーヤの大きさ：#{record["weight"]} ゴーヤの長さ：#{record["length"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
      下記のボタンを押すと、品質が悪いゴーヤの情報ページに飛びます<br><br>
      <input type="text" name="goya" value="<%= date.join(' ') %>">
      <input type="submit" name="送信">
    </form>
  </body>
</html>
